/*HOME*/
.row-box {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
  background-color: #f9efe7;
}

.heading-me {
  align-self: center;
  font-family: serif;
}

.heading-me h2 {
  font-size: 7vh;
  font-weight: bold;
}

.stack {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: -2rem;
}

.stack > img {
  position: absolute;
  width: 50%;
  border-radius: 50%;
}

#projects-section {
  text-align: center;
}

#img-move {
  animation: memove 5s infinite;
  animation-timing-function: ease;
  opacity: 0.8;
}

@keyframes memove {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(2%);
  }
  100% {
    transform: translate(0);
  }
}

/* About me */
.about-section {
  display: flex;
  justify-content: center;
}
.about-heading {
  margin-top: 10rem;
  text-align: center;
}
.flower-image {
  align-self: center;
  text-align: center;
}
.flower-image img {
  width: 60%;
  opacity: 0.7;
}

.about-me {
  max-width: 50%;
  padding: 2rem;
  margin-top: 2rem;
  margin-right: 11rem;
  border: 1px solid black;
  font-size: 1.2rem;
}

/* Skills */
.skills-box1 {
  display: flex;
  width: 50%;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border: 1px solid black;
  font-weight: bold;
}
.skills-box1 ul {
  width: 50%;
  padding: 1rem;
}

.skills-box2 {
  display: flex;
  width: 50%;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 2rem;
  border: 1px solid black;
  font-weight: bold;
}

.skills-box2 ul {
  padding: 1rem;
  width: 50%;
}

.list-group-flush .list-group-item {
  padding: 0;
  margin-top: 1rem;
}

.skills_heading {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 12rem;
  margin-bottom: 2rem;
}

.skills_heading h1 {
  margin-left: 20px;
  font-size: 3rem;
}

.skills_icon_person {
  font-size: 4rem;
}

.skills_heading_position {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

/* Media Queries */
@media (max-width: 768px) {
  /* Home */
  .row-box {
    flex-direction: column;
    align-items: center;
  }

  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-section p {
    text-align: left;
  }

  .flower-image img {
    width: 40%;
  }

  .about-me {
    margin-right: auto;
    max-width: 100%;
  }

  .skills-box1 {
    width: 100%;
    margin-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .skills-box2 {
    width: 100%;
  }

  .skills_heading_position {
    flex-direction: column;
  }

  .skills_heading {
    margin-left: 0%;
    margin-top: 1rem;
  }
}
