/* Projects */
.card-img-top {
  height: 12vw;
  object-fit: cover;
}
.projects-container {
  width: 82%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.projects-container::after {
  content: "";
  margin-left: 66.3%;
}

.individual-card {
  display: block;
  flex: 33.3%;
  padding: 1rem;
}

.image-branch {
  align-self: center;
  text-align: center;
  margin-top: 1rem;
}
.image-branch img {
  width: 50%;
}

.projects-title {
  display: flex;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 6rem;
}

/*Cards */
.food-image {
  width: 4px;
}

.website-view-buttons {
  display: flex;
  justify-content: flex-end;
}

.projects a {
  margin-right: 0.8rem;
}

/* Media Queries */
@media (max-width: 768px) {
  /* Projects */
  .card-img-top {
    height: 45vw;
  }
}

/* Media Queries */
@media screen and (max-width: 820px) {
  /* Projects */
  .projects-container {
    width: 78%;
  }
}

/* Media Queries */
@media screen and (max-width: 1100px) and (min-width: 1024px) {
  /* Projects */

  .projects-title {
    width: 90%;
  }
  .projects-container {
    width: 95%;
  }
}
