/* Projects */
.card-img-top {
  height: 12vw;
  object-fit: cover;
}
.projects-container {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.projects-container::after {
  content: "";
  margin-left: 66.3%;
}

.individual-card {
  display: block;
  flex: 33.3%;
  padding: 1rem;
}

.image-branch {
  align-self: center;
  text-align: center;
  margin-top: 1rem;
}
.image-branch img {
  width: 50%;
}

.projects-title {
  text-align: center;
  padding: 1rem;
  margin-top: 6rem;
}

/*Cards */

.projects a {
  margin-right: 1rem;
}

/* Media Queries */
@media (max-width: 769px) {
  /* Projects */
  .card-img-top {
    height: 45vw;
  }
  .projects {
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-content: center;
  }
  .projects-container {
    flex-direction: column;
  }

  .project-title {
    margin-right: 0;
    margin-top: 1rem;
  }
}
