* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*HOME*/
.row-box {
  display: flex;
  justify-content: center;
  background-color: #41345d;
}

.laptop {
  align-self: center;
}
.laptop > img,
.laptop > h1 {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.stack {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.stack > .stack-box,
.stack > img {
  position: absolute;
  width: 50%;
  border-radius: 50%;
}

#img-move {
  animation: memove 5s infinite;
  animation-timing-function: ease;
  opacity: 0.8;
}

@keyframes memove {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(3%);
  }
  100% {
    transform: translate(0);
  }
}

/* Navbar */
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  align-items: center;
}

/* Contact */
.contact {
  text-align: center;
  background-color: #41345d;
  margin-top: 5rem;
  padding: 5rem;
  color: #fff;
}

#email {
  color: #fff;
  font-size: 4rem;
  margin: 1rem;
}

#email:hover {
  color: darkgray;
}

#gitHub {
  color: #fff;
  font-size: 4rem;
  margin: 1rem;
}

#gitHub:hover {
  color: darkgray;
}

#linkedIn {
  color: #fff;
  font-size: 3rem;
}
#linkedIn:hover {
  color: darkgray;
}

#phone {
  color: #fff;
  font-size: 3rem;
}

#phone:hover {
  color: darkgray;
}

/* About me */

.about-me {
  max-width: 45%;
  margin-left: auto;
  border: 2px solid;
  padding: 2rem;
  margin-top: 5rem;
  margin-right: 2rem;
  background-color: #41345d;
  color: #fff;
}

.about-me h1 {
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

/* Skills */
.skills-box1 {
  display: flex;
  width: 45%;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  background: #41345d;
  color: white;
  font-weight: bold;
}
.skills-box1 ul {
  width: 50%;
  padding: 1rem;
}

.skills-box2 {
  display: flex;
  width: 45%;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 2rem;
  background: #41345d;
  color: white;
  font-weight: bold;
}

.skills-box2 ul {
  padding: 1rem;
  width: 50%;
}

.skills {
  display: flex;
  justify-content: space-between;
}

.skills_heading {
  display: flex;
  margin-left: 19%;
  align-self: center;
  background-color: #41345d;
  opacity: 0.8;
  color: #fff;
  padding: 2rem;
  border-radius: 20%;
}

.skills_heading h1 {
  margin-left: 20px;
  font-size: 4rem;
}

.skills_icon_person {
  font-size: 4rem;
}

.skills_heading_position {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

/* Projects */
.project-title {
  background-color: #41345d;
}

.project-title > h1,
.project-title > p {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.carousel-control-next,
.carousel-control-prev {
  max-width: 4%;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #41345d;
}

.carousel-indicators {
  display: none;
}

.card {
  border: 2px solid black;
  max-width: 100%;
  margin: auto;
}

.projects a {
  margin-right: 1rem;
}

/* Contact section */
.contact-icons {
  display: flex;
  justify-content: space-evenly;
  background-color: #41345d;
  padding: 5rem;
  color: #fff;
}

.contact-icons #email {
  font-size: 8em;
}

.contact-icons #gitHub {
  font-size: 8rem;
}

.contact-icons #linkedIn {
  font-size: 8rem;
}

.contact-icons #phone {
  font-size: 8rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .row-box {
    flex-direction: column;
    align-items: center;
  }
  .about-me {
    margin-right: auto;
    max-width: 100%;
  }

  .skills-box1 {
    width: 100%;
    margin-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .skills-box2 {
    width: 100%;
  }

  .skills_heading_position {
    flex-direction: column;
  }

  .contact-icons {
    flex-direction: column;
    text-align: center;
  }
}
