body {
  background-color: orange;
}

.App {
  text-align: center;
  font-family: sans-serif;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

img {
  width: 50vw;
}

@media (max-width: 1024px) {
  img {
    width: 100vw;
  }
}