* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  background-color: rgb(207, 204, 204);
}

/* Contact in Homepage */
.contact {
  text-align: center;
  background-color: #704fa7;
  margin-top: 5rem;
  padding: 5rem;
  color: #fff;
}

.contact h1 {
  margin-bottom: 2rem;
}

.icons {
  width: 50%;
  margin: auto;
}

#email {
  color: #fff;
  font-size: 4rem;
  margin: 1rem;
}

#email:hover {
  color: darkgray;
}

#gitHub {
  color: #fff;
  font-size: 4rem;
  margin: 1rem;
}

#gitHub:hover {
  color: darkgray;
}

#linkedIn {
  color: #fff;
  font-size: 3rem;
}
#linkedIn:hover {
  color: darkgray;
}
